body {
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #333;
}

.wrapper {
    width: 1000px;
    position: relative;
    text-align: left;
    margin: auto;
    padding: 20px;

}

.image-wrapper {
    padding: 20px;

}

#me{
    width: 600px;
    height: 500px;
}
.video-wrapper{
    padding: 20px;
}
.wrapper ul{
    margin: 0;
    padding: 0;
}

.wrapper-links{
    text-align: right;
}
.wrapper-links li{
    display: inline-block;
    font-size: 60px;
    list-style: none;
}


nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
}
nav li{
    flex: 1 0 0;
}

.nav-links{
    align-items: center;
    list-style: none;
    font-family: Lato;
    height: 3vh;
    justify-content: space-between;
    width: 50%;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 15px;
    color: black;
}

.nav-links-ext{
    align-items: center;
    list-style: none;
    font-family: Lato;
    height: 3vh;
    width: 20%;
}

.nav-links a:hover{
    color: #555;
}

.nav-links-ext a{
    font-size: 30px;
    text-decoration: none;
    text-align: right;
    color: black;

}

.nav-links-ext a:hover{
    color: #555;
} 

.wrapper-content{
    padding: 40px;
}

.wrapper-content p{
    line-height: 1.5; 
}
h4{
    text-align: left;
}

.project-wrapper{
    padding: 15px;

}
.project-wrapper ul{
    list-style-type: circle;
    text-align: left;

}
.project-wrapper li{
    font-family: Lato;
    font-weight: 400;
    position: relative;
    color: #333;
    font-size: 15px;
    padding: 4px;
    left: 30px;


}
#star-image{
    padding: 40px;
}
.project-wrapper p{
    text-align: left;
    line-height: 1.5;
}

.project-link{
    color: #333;
    padding: 40px;
    text-decoration: none;
}

.project-link:hover{
    color: #888;

}